{% extends "registration/registration_base.html" %}
{% load i18n %}{% load staticfiles %}{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <div class="h1">
            {% trans "Reset password" %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="card">
            <div class="col-xs-12">
                <p>
                    {% blocktrans %}
                    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
                    {% endblocktrans %}
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <input type="submit" class="btn btn-lg btn-success" value="{% trans 'Reset password' %}" />
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
